<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Volume</title>
</head>
<body>
    <div class="container">
        <h1>Calcular Volume de um cone</h1>
        <form action="/calcular" method="post">
            <label for="valor1">Area da base:</label>
            <input type="number" id="valor1" name="valor1" required><br>
            <label for="valor2">Altura do cone:</label>
            <input type="number" id="valor2" name="valor2" required><br>
            <button type="submit">Calcular</button>
        </form>
    </div>
</body>
</html>